<main class="HomePage">
    <section class="Hero flex items-center justify-center lg:min-h-[85dvh]">
        <div class="container-fluid">
            <div class="hero-text space-y-8 md:text-center md:max-w-6xl md:mx-auto">
                <div class="content space-y-8">
                    <h1 class="punchline text-heading-text font-bold font-accent lg:text-l-text lg:leading-15"><span class="text-accent">{{ hero_punch_line }}</h1>
                    <p class="description md:text-heading-text md:w-[75%] md:mx-auto">{{ hero_description }}</p>
                </div>

                <div class="hero-btns flex flex-col gap-4 md:flex-row md:gap-8 md:justify-center">
                    {{ hero_actions }}
                        <a href={{ hero_action_url }}>{{ hero_action_text }}</a>
                    {{ /hero_actions }}
                </div>
            </div>
        </div>
    </section>

    <section class="Services">
        <div class="container-fluid">
            <div class="section-header text-center space-y-4 mb-4 lg:mb-8">
                <h2 class="font-accent font-bold text-heading-text lg:text-l-text">{{ services_title }}</h2>
                <p class="lg:w-[60%] lg:mx-auto">{{ services_description }}</p>
            </div>

            <div class="services-wrapper grid lg:grid-cols-2 gap-8">
                {{ services_grid }}
                    <div class="service space-y-2 p-2 bg-highlight rounded-lg flex flex-col">
                        <div class="image-wrapper w-full h-[30dvh] lg:h-[40dvh] relative bg-accent p-1 rounded-lg">
                            <div class="image w-full h-full rounded-lg overflow-hidden">
                                <img src={{ service_image:url }} alt={{ service_image:alt ?? service_title }} class="h-full w-full object-cover" />
                            </div>
                        </div>

                        <div class="content p-4 space-y-4 flex-1">
                            <div class="info space-y-2">
                                <p class="font-bold">{{ service_title }}</p>
                                <p>{{ service_description }}</p>
                            </div>
                        </div>

                        <div class="pills px-4 pb-4">
                            {{ service_tags }}
                                <span>{{ service_tag }}</span>
                            {{ /service_tags }}
                        </div>
                    </div>
                {{ /services_grid }}
            </div>
        </div>
    </section>

    {{ partial:process }}

    <section class="Works">
        <div class="container-fluid">
            <div class="section-header text-center space-y-4 mb-4 lg:mb-8">
                <h2 class="font-accent font-bold text-heading-text lg:text-l-text">{{ recent_work_title }}</h2>
                <p class="lg:w-[60%] lg:mx-auto">{{ recent_work_description }}</p>
            </div>

            <div class="content">
                <div class="works-wrapper grid gap-8">
                    {{ recent_works }}
                        <div class="work grid lg:grid-cols-2 items-center gap-8 bg-highlight rounded-lg p-4">
                            <div class="content space-y-4">
                                <p class="title font-bold text-heading-text">{{ project_title }}</p>
                                <p class="description">{{ project_description | nl2br }}</p>

                                <div class="badges">
                                    {{ project_tags }}
                                        <span>{{ tag_title }}</span>
                                    {{ /project_tags }}
                                </div>

                                <div class="actions">
                                    {{ project_links }}
                                    <a href{{ project_link_url }} target="_blank" class="inline-link">{{ project_link_text }}</a>
                                    {{ /project_links }}
                                </div>
                            </div>

                            <div class="image w-full h-[30dvh] lg:h-[40dvh]">
                                <img src={{ project_image:url }} alt={{ project_image:alt ?? project_title }} class="h-full w-full object-contain" />
                            </div>
                        </div>
                    {{ /recent_works }}
                </div>
            </div>
        </div>
    </section>

    <section class="Pricing">
        <div class="container-fluid">
            <div class="section-header text-center space-y-4 mb-4 lg:mb-8">
                <h2 class="font-accent font-bold text-heading-text lg:text-l-text">{{ pricing_title }}</h2>
                <p class="lg:w-[60%] lg:mx-auto">{{ pricing_description }}</p>
            </div>

            <div class="content">
                <div class="pricing-cards grid lg:grid-cols-3 gap-8">
                    {{ pricing_grid }}
                        <div class="pricing p-4 bg-highlight rounded-lg space-y-4 flex flex-col">
                            <div class="flex items-center justify-between">
                                <p class="package text-heading-text font-bold">
                                   {{ title }}
                                </p>
                                {{ if most_popular_badge }}
                                    <span class="text-xs bg-accent text-accent-foreground px-3 py-1 rounded-full">Most Popular</span>
                                {{ /if }}
                            </div>
                            
                            <p class="price text-heading-text grid gap-0.5">
                                <span class="text-body-label-text">From</span>
                                <span class="font-bold flex items-baseline gap-1">
                                    {{ price }}
                                    <span class="text-body-label-text text-muted-foreground font-normal">
                                        {{ renewable_period }}
                                    </span>
                                </span>
                            </p>
                            
                            <p class="description">{{ description }}</p>

                            <ul class="list-none list-inside space-y-2 flex-1">
                                {{ features }}
                                    <li class="flex items-start">
                                        <svg class="mr-2 w-5 h-5 mt-1 text-green" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                        </svg>
                                        <span>{{ feature }}</span>
                                    </li>
                                {{ /features }}
                            </ul>

                            <a 
                                href{{ pricing_link_url }}
                                class="action inline-block bg-accent text-accent-foreground py-4 text-center w-full rounded-sm hover:opacity-90 transition-opacity"
                            >
                               {{ pricing_link_text }}
                            </a>
                        </div>
                    {{ /pricing_grid }}
                </div>
            </div>
        </div>
    </section>

    {{ partial:cta }}
</main>